.weekView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 30px 20px;
  font-family: "Segoe UI";
}

.day {
  margin-bottom: 10px;
  font-size: 15px;
}
